<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lorem Fulfillment - UNAS</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="tools">
            <div class="tabbar">
                <div class="tabpanel">
                    <div class="tabs">
                        <div class="tab tab_control active">Lorem Fulfillment</div>
                    </div>
                </div>
            </div>
            <div class="actionbar">
                <div class="action-panel px-2 py-1">
                    <div class="title-bar"></div>
                    <div class="buttons flex gap-1 items-center">
                        {% if context.uri.path == url_for('settings') %}
                            <a class="button action base" href="{{ url_for('index') }}">Megrendelések</a>
                        {% else %}
                            <a class="button action base" href="{{ url_for('settings') }}">Beállítások</a>
                        {% endif %}
                        {% block menubar %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="px-2 py-1 flex flex-col gap-1" style="overflow-y: scroll">
            {% block main %}
            {% endblock %}
        </div>
    </body>
</html>
